@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Titillium+Web:wght@900&display=swap');
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

html {

    text-align: center;
    padding: 50px;
    background-color: #3AAFA9;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #17252a;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {

    margin: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #Def2F1;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 42pt;
    line-height: 40px;
    color: #17252a;
}

#titleColour {
    color: #FEFFFF;
}

#diceBox {
    height: 400px;
    width: 400px;
    padding: 20px;
}

i {
    color: gold;
}

.spin {
    animation: spin 300ms linear 2;

}

img {
    border-radius: 25px;
    margin: 10px;
}